//colors
$main-color: rgba(42,47,55,0.02);
$sub-color: #fff;
$title-color: #1d1d1d;
$text-color: #1d1d1d;
$text-footer-color: #424242;
$text-subcolor: #2A2F37;
$footer-color: #f2f2f2;
$button-color-orange: #ffac28;
$button-color-blue: #3a95ff;
$color-border: rgba(42,47,55,0.2);
$color-input-border: rgba($color: #2A2F37, $alpha: .08);

//fonts
$title: 'Jost', sans-serif;
$text: 'Jost', sans-serif;

//vars
$title-size: 24px;
$text-size: 14px;
$container: 1170px;